.word {
    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
    }
}
.letters-word {
    display: flex;
    column-gap: 5px;

    &__item {
        padding: 5px 10px;
        cursor: pointer;
        color: white;
        background-color: rgb(110, 98, 98);
    }
}

.cells-word {
    display: flex;
    column-gap: 5px;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
    &__item.error {
        border: 1px solid red;
    }
    &__item.succes {
        border: 1px solid rgb(0, 255, 0);
    }
}
